* body {
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagenes/FONDO.jpg);
    background-size: 100%;
  }
  
  /*PORTADA*/
  
 
 

  
  
  
  img {
    width: 100%;
    margin-right: 50px;
    box-shadow: 0px 3px 5px rgba(rgb(255, 255, 255), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
  }
  
  /*CUENTA REGRESIVA*/
   
  
  @media (max-width: 730px) {
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: 20%;
      
      
  }
  .cr-time > span {
    float: left;
    height: 40px;
    width: 40px;
    font-size: 19px;
    font-weight: bold;
      border-radius: 1px;
      color: #667d60;
      text-shadow: 0 0 5px rgb(247, 229, 229), 0 0 15px rgb(217, 248, 254), 0 0 30px rgb(250, 244, 244), 0 0 50px rgb(254, 254, 254);
      
  }
  .cr-desc {
      color: black;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 12px;
      font-weight: 700;
line-height: 1,5;
      
  }
  .cr-block {
      background: #f0efefb3;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 80%;
  }
    
  
    .fondo{
      width: 100%;
      margin-top: 5%;
    }
    

  
  
  .arrow {
    margin-top: 5%;
    display: block;
    width: 16px;
    height: 16px;
    border-bottom: 5px solid #667d60;
    border-right: 5px solid rgb(102, 125, 96);
    transform: rotate(45deg);
  margin-left: 48%;
    animation: animate28797 2s infinite;
  }
  
  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  
  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
  
  @keyframes animate28797 {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }


  .hojas{
    width: 20%;
    margin-left: 40%;
   transform: rotate(-40deg);
   margin-top: -5%;
  }

 .titulo1{
  color: black;
  font-size: 30px;
  text-align: center;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 10%;
  letter-spacing: 3%;
  
 }
 .caja{
  margin-top: 5%;
  background-color:  rgba(239, 245, 240, 0.788);
  padding: .10rem;
  
 
 }
 .titulo2{
  color: #667d60;
  font-size: 21px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 15%;

 }
 .egresados{
  margin-top: 5%;
  color: black;
  font-size: 27px;
  text-align: center;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
 }
 .titulo3{
  color: #667d60;
  font-size: 21px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: -8%;
 
 }
 .linea{
  width: 80%;
  margin-left: 10%;
  margin-top: -10%;
  
 }
 .carousel-inner img{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.titulo4{
  color: #667d60;
  font-size: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 1%;
 
 }
 .parrafoicono{
  color: #626362;
  font-size: 15px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 3%;
 
 }
 .whasap{
  width: 20%;
  margin-left: 38%;
  margin-top:2%;
  
 }
 .ale{
  width: 20%;
  margin-top:-25%;
  margin-left: 15%;
 }
 .audio{
  width: 40%;
  height: 20px;
  margin-left: 30%;
  margin-top: -40%;
  background: rgb(255, 255, 255);
  color: #ffffff;
  
}
.play{
color: #525252;
font-family: 'Julius Sans One', sans-serif; ;
font-size: 13px;
text-align: center;
font-weight: 600;
margin-top: 3%;
}
 }